@import 'https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap';
@import "https://db.onlinewebfonts.com/c/22de347a8207b570b446ebedffac36e3?family=Klavika+Web+Medium+Condensed";

:root {
  --secondary-font: "Madimi One";
  --font: "Rubik";
  --font2: "Oswald";
  --font3: "Open Sans";
  --font4: "Klavika Web Medium Condensed";
  --font5: "Noto Sans";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: black;
}

.top-header {
  background: black;
}

.img-logo {
  height: 30px;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 17px;
}

button{
  color: #ffff;
  background-color: black;
  border: 1px solid #ffff;
  transition: 0.5s;
}

button:hover{
  color: black;
  cursor: pointer;
  background-color: #ffff;
  transform: scale(1.1);
}

.links {
  display: flex;
  gap: 10px;
}

footer a{
  font-size: 19px;
  color: #757575;
  transition: 0.5s;
}

.links a {
  position: relative;
  color: #ffff;
}

footer a:hover{
  color: #ffff;
  transform: scale(1.1);
}


.links a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  content: "";
  background-color: white;
  transition: 0.5s;
}

.links a:hover::after {
  width: 100%;
}

.links-redes{
  display: flex;
  gap: 30px;
}

.img-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 400px;
  padding-top: 9px;
  font-family: var(--font);
  font-size: 19px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-wrap: balance;
  letter-spacing: 0.5px;
  background-image: url("./assets/image/desktop-wallpaper-amd-amd-ryzen.jpg");
  background-size: cover;
}

.img-header p {
  font-family: var(--secondary-font);
}

.container-apps-tools button {
  width: fit-content;
  padding: 7px 30px;
}

.description button {
  padding: 9px 25px;
  
}

.description img{
  width: 100%;
  transition: 0.5s;
}

.footer-aboutme img {
  width: 200px;
}

.description img:hover{
  transform: scale(1.1);
}


.img-header button {
  width: fit-content;
  padding: 9px 20px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, rgb(114 114 114), rgb(0 0 0));
  border: none;
  border-radius: 5px;
}

.img-header button:hover {
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1.1);
}

.title {
  display: flex;
  width: 100%;
  padding: 10px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  background-color: white;
}

.description {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.description h3 {
  padding-bottom: 7px;
  font-family: var(--font4);
  font-size: 31px;
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
}

.description p {
  font-family: var(--font5);
  font-size: 16px;
  color: white;
}

.description div {
  padding: 20px;
}


.container-apps-tools div{
  padding: 15px;
  margin: 10px;
}

.apps-tools-grid{
  display: grid;
}

.container-apps-tools p {
  font-family: var(--font3);
  font-size: 17px;
  font-weight: 600;
  color: white;
}

.container-apps-tools > p {
  padding-left: 15px;
  color: white;
}

.container-apps-tools h3 {
  font-family: var(--font3);
  font-size: 23px;
  color: white;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box:nth-child(1) {
  background-image: url("./assets/image/2cded213-5f74-4651-ac63-59c830a08f9e.png");
  background-size: cover;
}

.box:nth-child(2) {
  background-image: url("./assets/image/1804711-radeon-pro-abstract-background-1920x800.avif");
  background-size: cover;
}

.box:nth-child(3) {
  background-image: url("./assets/image/770814-red-light-rays-bg-1920x600.webp");
  background-size: cover;
}

.box:nth-child(4) {
  background-image: url("./assets/image/2374653-radeon.jpg");
  background-size: cover;
}

footer {
  width: fit-content;
  padding-top: 10px;
  color: white;
  background: rgb(17 17 18);
}

footer h2 {
  font-family: var(--font);
  font-size: 26px;
}

.pie {
  display: grid;
  gap: 30px;
  padding: 10px;
}

.footer-logo {
  width: 200px;
  padding-top: 10px;
}

.footer-aboutme h2 {
  font-family: var(--font);
}

.footer-aboutme p {
  font-family: var(--font);
  font-size: 18px;
}


.footer-noticias,
.footer-empresa,
.footer-aboutme,
.footer-comunidad{
display: flex;
flex-direction: column;
gap: 15px;
color: #ffff;
}

.footer-social {
  display: flex;
  flex-direction:column;
  gap: 25px;
  font-size: 20px;
}

.footer-social i {
  font-size: 2.3rem;
  color: #ffff;
}


.footer-derechos {
  text-align: center;
}

@media (width >= 768px) {
  .navbar-container {
    flex-direction:row;
  }

  .img-header {
    align-items:flex-start;
    justify-content: center;
    padding:2rem;
    text-align:inherit;
    background-image: url("./assets/image/2474370-embedded-plus-hero-banner.jpg");
  }

  .img-header p {
    width: 450px;
    font-family: var(--font3);
    font-size: 20px;
  }

  .title {
    font-size: 25px;
  }

  .img-header button {
    padding: 20px 35px;
    font-size: 19px; 
  }

  .container-apps-tools > p {
    font-size: 25px;
  }

  .container-apps-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .apps-tools-grid{
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    max-width: 1200px;
  }

  .box:nth-child(1){
    grid-row: 1;
    grid-column: 1/5;
  }

  .box:nth-child(2){
    grid-row: 1;
    grid-column: 5/7;
  }

  .box:nth-child(3){
    grid-row: 2;
    grid-column: -7/-5;
  }

  .box:nth-child(4){
    grid-column: -5/-1;
  }

  .container-apps-tools button {
    padding: 10px 30px;
    font-size: 18px;
  }

  .pie{
    grid-template-columns: repeat(5,1fr);
  }


  .footer-aboutme{
    gap: 15px;
  }
}

@media (width >= 1440px) {
  .img-header {
  height:450px ;
  padding-top: 90px;
  margin-bottom: 20px;
  }

  .img-header p {
    width: 600px;
    font-size: 25px
  }
}